<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphs4Social - Website</title>
  <! -- ICONS -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
  <! -- STYLESHEET -->
</head>
<body>
<! -- HEADER SEARCH BAR -->
<app-navbar></app-navbar>
<! -- MAIN PAGE -->
<main>
  <div class="container">
    <! -- LEFT -->
    <app-left></app-left>
    <! -- MIDDLE -->
    <div class="router-wrapper">
      <div *ngIf=" this.serviceEdit.getStatus() == 'active' " class="edit_perfil">
        <app-main-perfil></app-main-perfil>
      </div>
      <router-outlet></router-outlet>

    </div>
    <!--<app-feed></app-feed>-->
    <!--<app-suggestions></app-suggestions>-->
    <! -- RIGHT -->
    <app-right></app-right>
  </div>
</main>
</body>
</html>
