
/*
:root {
  --color-dark: hsl(252, 30%, 17%);
  --color-light: hsl(252, 30%, 95%);
  --color-primary: hsl(252, 30%, 50%);
  --color-secondary: hsl(252, 30%, 70%);

  --border-radius: 2rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
}
*/


*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body  {
  font-family: 'Noto Sans', sans-serif;
}


/* GENERAl STYLES*/

.container {
  margin: 0 auto;
  width: 80%;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border: none;
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: hsl(252, 30%, 50%);
  color: white;
}

.btn-deny {
  background: hsl(0,100%,60%);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: gray;
}

main{
  top: 4rem;
  left: 0;
  padding: 0.7rem 0;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background: hsl(252, 30%, 17%);
  overflow-x: hidden;
}

main .container{
  display: grid;
  grid-template-columns: 28vh auto 17.2vw;
  column-gap: 2rem;
  position: relative;
}

.router-wrapper{
  grid-area: auto;
}

.edit_perfil{
  position: fixed;
  top: 3rem;
  left: 0;

}


