<div class="profile">
  <div class="avatar">
    <img src="../../../assets/website/profile.jpg">
  </div>
  <div class="nome">
    <p id="username"></p>
  </div>
  <div class="message">
    <input *ngIf="isAddable()" type="text" placeholder="Message for this User" id="message_for_user">
  </div>
  <button *ngIf="isAddable()" class="btn btn-primary" (click)=sendFriendRequest()>
    Send Friend Request
  </button>
  <div *ngIf="hasFriendsToBeAdded()" class="F">
    <div class="search-bar">
      <i class="uil uil-search"></i>
      <select name="friends" id="friends_id" required>
        <option value="" disabled selected>Friends</option>
        <option *ngFor="let amigos of friends">{{amigos}}</option>
      </select>
    </div>
    <div class="messageIntermedio">
      <input type="text" placeholder="Message for this User" id="message_intermedio">
    </div>
    <div class="messageObjetivo">
      <input type="text" placeholder="Message for final User" id="message_objetivo">
    </div>
    <button class="btn btn-primary" (click)=sendIntroductionRequest()>
      Ask for Introduction
    </button>
  </div>
  <div class="header_info">
    <p id = "location" class="location"></p>
  </div>
  <div class="profile_info">
    <details>
      <summary><b>Birthday:</b> {{birthday}}</summary>
    </details>
    <details>
      <summary><b>Tags:</b> {{tags}}</summary>
    </details>
    <details>
      <summary><b>Emotional State:</b> {{emotionalState}}</summary>
    </details>
    <details>
      <summary><b>Description:</b> {{description}}</summary>
    </details>
    <details>
      <summary><b>Linkedin Profile:</b> {{linkedinProfile}}</summary>
    </details>
    <details>
      <summary><b>Facebook Profile:</b> {{facebookProfile}}</summary>
    </details>
    <details id = "relation_parent">
      <summary><b id="relation">Força de Relação:</b></summary>
    </details>
    <details id = "ligacao_parent">
      <summary><b id="ligacao">Força de Ligação:</b></summary>
    </details>
  </div>
  <input *ngIf="canEditProfile()" type=button (click)="showEditProfile()" value="Edit Profile" class="btn btn-primary">
</div>

<div class="feeds">
  <div *ngFor="let post of posts" class="feed">

    <div class="head">
      <div class="user">
        <div class="profile-picture">
          <img src="../../../assets/website/profile2.jfif">
        </div>
        <div class=info>
          <h3>{{this.userName}}</h3>
          <small>{{post.date}}</small>
        </div>
      </div>
    </div>

    <div class="text">
      <small>{{post.content}}</small>
    </div>

    <div class="input-text">
      <input type="text" placeholder="Comment here..." [id]="post.id">
      <input (click)="createComment(post.id)" type="button" value="submit" class="btn btn-primary">
    </div>


    <div class="action-buttons">
      <div class="interaction-buttons">
        <span><i class="uil uil-heart" (click)="likePost(post.id)"></i></span>
        <small>{{post.nLikes}}</small>
        <span><i class="uil uil-heart-break" (click)="dislikePost(post.id)"></i></span>
        <small>{{post.nDislikes}}</small>
        <span><i class="uil uil-comment-dots"></i></span>

      </div>
    </div>

    <div *ngFor="let comment of post.comments" class="text">
      <h5>{{comment.userName}}</h5>
      <small>{{comment.content}}</small>
      <div class="action-buttons">
        <div class="interaction-buttons">
          <span><i class="uil uil-heart" (click)="likeComment(comment.id)"></i></span>
          <small>{{comment.nLikes}}</small>
          <span><i class="uil uil-heart-break" (click)="dislikeComment(comment.id)"></i></span>
          <small>{{comment.nDislikes}}</small>
        </div>
      </div>

    </div>
  </div>
</div>
