main{
  top: 4rem;
  left: 0;
  padding: 0.7rem 0;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background: hsl(252, 30%, 17%);
  overflow-x: hidden;
}

.profile {
  background: mediumpurple;
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
}

/* Imagem */

.avatar {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}


/* Parte Informativa */

.nome {
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
  text-decoration: overline;
  letter-spacing: 7px;
  text-shadow: 1px 1px black;
}

.btn {
  border: none;
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: hsl(252, 30%, 50%);
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}


.message {
  display: block;
  text-align: center;

}

.messageIntermedio {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.messageObjetivo {
  display: block;
  text-align: center;
}

.search-bar {
  display: block;
  text-align: center;

}


.header_info {
  text-align: center;
}

.location {
  color: silver;
  font-weight: bold;
}


details {
  width: 50%;
  margin: 0 auto ;
  background: #282828;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: darkslateblue;
  padding-left: 2.2rem;
  position: relative;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}




details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

details {
  background: royalblue;
}

body {
  background: darkslateblue;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.header_for_each_info {
  text-align: center;

}
.input-text{
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
}

.input-text input[type="text"]{
  font-weight: bold;
  background: transparent;
  width: 32vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: hsl(252, 30%, 17%);
}

.input-text input[type="text"]::placeholder{
  color: white;
}

.image-upload{
  margin-left: 1rem;
}

.image-upload i{
  font-size: 1.4rem;
}

.image-upload input {
  display: none;
}
.image-upload label:hover{
  cursor: pointer;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body  {
  font-family: 'Noto Sans', sans-serif;
}


/* GENERAl STYLES*/

.container {
  margin: 0 auto;
  width: 80%;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}



.btn:hover {
  opacity: 0.8;
}



.btn-deny {
  background: hsl(0,100%,60%);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: gray;
}

main{
  top: 4rem;
  left: 0;
  padding: 0.7rem 0;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background: hsl(252, 30%, 17%);
  overflow-x: hidden;
}

main .container{
  display: grid;
  grid-template-columns: 28vh auto 17.2vw;
  column-gap: 2rem;
  position: relative;
}

.router-wrapper{
  grid-area: auto;
}

.edit_perfil{
  position: fixed;
  top: 3rem;
  left: 0;

}

/* ------------------------- FEEDS -------------------- */

.feeds .feed{
  background: mediumpurple;
  border-radius: 2rem;
  padding: 0.4rem;
  margin: 1rem;
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.feed .head{
  margin-left: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.feed .user{
  display: flex;
  gap: 1rem;
}

.feed .text{
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 20px;
}


.feed .photo{
  vertical-align: middle;
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.feed .action-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.feed .action-buttons i.uil-heart{
  cursor: pointer;
}

.feed .action-buttons i.uil-heart-break{
  cursor: pointer;
}

.feed .action-buttons i.uil-comment-dots{
  cursor: pointer;
}

