<form class="create-post">


  <div class="input-text">
    <input type="text" placeholder="What's on your mind?" id="input">
  </div>
  <input (click)="createPost()" type="button" value="Post" class="btn btn-primary">
</form>

<div class="feeds">
  <div *ngFor="let post of posts" class="feed">

    <div class="head">
      <div class="user">
        <div class="profile-picture">
          <img src="../../../assets/website/profile2.jfif">
        </div>
        <div class=info>
          <h3>{{this.userName}}</h3>
          <small>{{post.date}}</small>
        </div>
      </div>
    </div>

    <div class="text">
      <small>{{post.content}}</small>
    </div>

    <div class="input-text">
      <input type="text" placeholder="Comment here..." [id]="post.id">
      <input (click)="createComment(post.id)" type="button" value="submit" class="btn btn-primary">
    </div>


    <div class="action-buttons">
      <div class="interaction-buttons">
        <span><i class="uil uil-heart" (click)="likePost(post.id)"></i></span>
        <small>{{post.nLikes}}</small>
        <span><i class="uil uil-heart-break" (click)="dislikePost(post.id)"></i></span>
        <small>{{post.nDislikes}}</small>
        <span><i class="uil uil-comment-dots"></i></span>

      </div>
    </div>

    <div *ngFor="let comment of post.comments" class="text">
      <h5>{{comment.userName}}</h5>
      <small>{{comment.content}}</small>
      <div class="action-buttons">
        <div class="interaction-buttons">
          <span><i class="uil uil-heart" (click)="likeComment(comment.id)"></i></span>
          <small>{{comment.nLikes}}</small>
          <span><i class="uil uil-heart-break" (click)="dislikeComment(comment.id)"></i></span>
          <small>{{comment.nDislikes}}</small>
        </div>
      </div>

    </div>
  </div>
</div>
