.create-post{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.3rem;
  background: mediumpurple;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
}

.input-text{
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
}

.input-text input[type="text"]{
  font-weight: bold;
  background: transparent;
  width: 32vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: hsl(252, 30%, 17%);
}

.input-text input[type="text"]::placeholder{
  color: white;
}

.image-upload{
  margin-left: 1rem;
}

.image-upload i{
  font-size: 1.4rem;
}

.image-upload input {
  display: none;
}
.image-upload label:hover{
  cursor: pointer;
}

/* ------------------------- FEEDS -------------------- */

.feeds .feed{
  background: mediumpurple;
  border-radius: 2rem;
  padding: 0.4rem;
  margin: 1rem;
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.feed .head{
  margin-left: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.feed .user{
  display: flex;
  gap: 1rem;
}

.feed .text{
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 20px;
}


.feed .photo{
  vertical-align: middle;
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.feed .action-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.feed .action-buttons i.uil-heart{
  cursor: pointer;
}

.feed .action-buttons i.uil-heart-break{
  cursor: pointer;
}

.feed .action-buttons i.uil-comment-dots{
  cursor: pointer;
}

