<div class="container">
  <div class="suggestions">
    <div *ngIf="hasSuggestions()" class="message">
      <input id="mensagemObjetivo" class="mensagem_objetivo" placeholder="Message towards User" type="text">
    </div>
    <div *ngFor="let suggestion of suggestions " class="suggestion">

      <div class="info">
        <div class="profile-picture">
          <img src="../../../assets/website/profile2.jfif">
        </div>
        <div class="text">
          <h5>{{suggestion.nome}}</h5>
          <p>
            Tags: {{suggestion.tags}}
          </p>
        </div>

        <div class="action">
          <button id="sendRequestButton" (click)="sendFriendRequest(suggestion)" class="btn">
            Send Request
          </button>
        </div>
      </div>
  </div>
  </div>
</div>
