*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

/* GENERAl STYLES*/

.container {
  margin: 0 auto;
  width: 80%;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border: none;
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: gray;
}

.router-wrapper{
  grid-area: auto;
}

.suggestions{
  margin-top: 1rem;
}

.suggestions h4{
  color: #1b1b1b;
  margin: 1rem 0;
}

.suggestion{
  background: mediumpurple;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 0.7rem;
}

.text{
  margin-left: auto;
  margin-right: auto;
}

.suggestion .info{
  display: flex;
}

.suggestion p{
  margin-top: 0.2rem;
}

.suggestion .action{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border: none;
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.mensagem_objetivo {
  margin-bottom:2rem;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius:5px;
}

