
.container-Tag{
  width: 100%;
}

.container-Tag small{
  visibility: hidden;
  position: absolute;
  margin-top: 5px;
}

.tag-container.success{
  border-color: cornflowerblue;
}

.tag-container.error{
  border: 2px solid red;
}

.container-Tag.error small{
  visibility: visible;
  color: darkred;
}


.tag-container{
  display: flex;
  background-color: mediumpurple;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.tag-container .tag{
  display: block;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  align-items: center;
  background-color: mediumpurple;
  cursor: default;

}

.tag-container input{
  display: block;
  width:50%;
  flex: 1;
  padding: 5px;
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: mediumpurple;
}


.profile {
  background: #b28af0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .4);
  width: 30rem;

}

.container {
  display: flex;
  gap: 1rem;
  margin-left: 15px;
  justify-content: center;
  height: 400px;
  overflow: auto;
}

.close i{
  visibility: visible;
  cursor: pointer;
}



.form-control input {
  border: 2px solid hsl(252, 30%, 80%);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-control.success input {
  border-color: cornflowerblue;
}

.form-control.error input {
  border-color: red;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 37px;
  right: 10px;

}

.form-control.success i.uil-check-circle {
  visibility: visible;
  color: cornflowerblue;

}

.form-control.error i.uil-exclamation-circle {
  visibility: visible;
  color: red;

}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
  color: darkred;
}



/* Imagem */

.avatar {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}

/* Parte Informativa */

.formTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.nome {
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
  text-decoration: overline;
  letter-spacing: 7px;
  text-shadow: 1px 1px black;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.custom-select select {
  display: inline-block;
  background-color: snow;
  border-color: black;
  border-width: 1px;
  font-weight: bold;
  border-radius: 200px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5rem;
}

.settings {
  width: 8rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  border: none;
  width: 50%;
  display: block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: hsl(252, 30%, 30%);
  color: white;
}



