<div class="profile">
  <div class="close">
    <i (click)="closeEditProfile()" class="uil uil-multiply"></i>
  </div>
  <div class="avatar">
    <img src="../../../assets/website/profile.jpg">
  </div>
  <div class="nome">
    <p id="username"></p>
  </div>
  <div class="container">
    <form class="form" id="form">
      <div class="form-control" id="form-name">
        <div class="formTitle"><p>Name</p></div>
        <input type="text" id="name">
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>

      <div class="form-control" id="form-desc">
        <div class="formTitle"><p>Description</p></div>
        <input type="text"  id="desc">
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>


      <div class="form-control" id="form-state">
        <div class="formTitle"><p>Emotional State</p></div>
        <input name="estados" list="estadohumor" id="state">
        <datalist id="estadohumor"></datalist>
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>

      <div class="form-control" id="form-password">
        <div class="formTitle"><p>Linkedin URL</p></div>
        <input type="text"  id="password">
       <!-- <i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>

      <div class="form-control" id="form-password-conf">
        <div class="formTitle"><p>Facebook URL</p></div>
        <input type="text"  id="password-confirm">
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>
    </form>

    <form class="form" id="2">
      <div class="form-control" id="form-city">
        <div class="formTitle"><p>City</p></div>
        <input type="text" id="city">
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>

      <div class="form-control" id="form-country">
        <div class="formTitle"><p>Country</p></div>
        <input list="country" placeholder="Select your country (optional)" id="country-input">
        <datalist id="country"></datalist>
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->
      </div>

      <div class="form-control" id="form-number">
        <div class="formTitle"><p>Number</p></div>
        <input type="text"  id="number">
        <!--<i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>-->

      </div>
      <div class="form-control" id="form-date">
        <div class="formTitle"><p>Date of Birth</p></div>
        <input type="date" id="date">
        <!--<small>Error message</small>-->
      </div>


    </form>

  </div>
  <div class="container-Tag" id="container-tag">
    <div class="formTitle"><p>Tags</p></div>
    <div class="tag-container" id="tag-container">
      <!--TAG-->
 <!--     <div class="tag">
        <span>Teste</span>
        <i class="uil uil-times" data-item="Teste"></i>

      </div>-->
      <input/>
    </div>
    <!--<small>Error message</small>-->
  </div>
  <input (click)="editaPerfil()" type="button" value="Submit" class="btn btn-primary">
</div>
