<div class="container">
  <h4>Pedido de Introdução</h4>
  <div class="pedidos-introducao">
    <div *ngFor="let pedido of intro" class="pedido-introducao">
      <div class="info">
        <div class="profile-picture">
          <img src="../../../../assets/website/profile.jpg">
        </div>
        <div>
          <b>Inicial</b>
          <h5>{{pedido.utilizador1.nome}}</h5>
          <p>
            Tags: {{pedido.utilizador1.tags}}
          </p>
          <p>
            Mensagem: {{pedido.mensagemIntermedio}}
          </p>
        </div>
      </div>

    <div class="info">
      <div class="profile-picture">
        <img src="../../../../assets/website/profile.jpg">
      </div>
      <div>
          <b>Final</b>
          <h5>{{pedido.utilizador2.nome}}</h5>
          <p>
            Tags: {{pedido.utilizador2.tags}}
          </p>
        </div>
        <div class="action">
          <button (click)="acceptIntroduction(pedido)" class="btn btn-primary">
            Accept
          </button>
          <button (click)="denyIntroduction(pedido)" class="btn btn-deny">
            Deny
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
