.pedidos-introducao{
  margin-top: 1rem;
}

.pedidos-introducao h4{
  color: #1b1b1b;
  margin: 1rem 0;
}

.pedido-introducao{
  background: mediumpurple;
  padding: 0.4rem;
  border-radius: 2rem;
  margin-bottom: 0.7rem;
  width: 20rem;
}

.pedido-introducao .info{
  gap: 1rem;
  margin-bottom: 1rem;
}


.pedido-introducao .action{
  justify-content: center;
  display: flex;
  gap: 1rem;
}



