<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphs4Social - Website</title>
  <! -- ICONS -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
  <! -- STYLESHEET -->
</head>
<body>

<div class="container">
  <div class="header">
    <h2>Create Account</h2>
  </div>
  <form class="form" id="form">

    <div class="form-control" id="form-email">
      <label>Email</label>
      <input type="text" placeholder="ex@gmail.com" id="email">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-password">
      <label>Password</label>
      <input type="password" placeholder="3DhJi381!" id="password">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-password-conf">
      <label>Password Confirmation</label>
      <input type="password" placeholder="3DhJi381!" id="password-confirm">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-date">
      <label>Birthday</label>
      <i class="uil uil-check-times"></i>
      <input type="date" placeholder="Michael Kolins" id="date">
      <small>Error message</small>
    </div>


    <div class="container-Tag" id="container-tag">
      <label>Tags</label>
      <div class="tag-container" id="tag-container">
        <!--TAG-->
        <input/>
      </div>
      <small>Error message</small>
    </div>


  </form>
</div>

<div class="container">

  <form class="form" id="form2">

    <div class="profile-picture">
      <img src="../../assets/website/profile.jpg" alt="profile">
    </div>
    <div class="form-control">

      <input type="file" placeholder="ex@gmail.com" id="profile">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>
    <div>
      <input type="checkbox" id="terms" name="terms" value = "outro">
      <label for="terms">Declaro que li e aceito os </label>
      <a href="http://localhost:4200/terms&services-privatePolicy" target="_blank">Termos de serviço bem como a política de privacidade</a>

    </div>
    <input (click)="registerUser()" type="button" value="Submit" class="btn btn-primary">
    <a class = "register" routerLink="/login"> Already have an account? Log in! </a>
  </form>


  <!--  PROFILE-->
</div>

<div class="container">
  <div class="header">
    <h2>Create Profile</h2>
  </div>
  <form class="form" id="3">

    <div class="form-control" id="form-name">
      <label>Name</label>
      <input type="text" placeholder="Michael Kolins" id="name">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-desc">
      <label>Profile Description (Optional)</label>
      <input type="text" placeholder="My name is Michael Kolins, I work with..." id="desc">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-country">
      <label>Country (Optional)</label>
      <input list="country" placeholder="Select your country (optional)" id="country-input">
      <datalist id="country"></datalist>
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-city">
      <label>City (Optional)</label>
      <input type="text" placeholder="Rome" id="city">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-number">
      <label>Phone Number (Optional)</label>
      <i class="uil uil-check-times"></i>
      <input type="text" placeholder="+351 938582165" id="number">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-linkedin">
      <label>Linkedin URL (Optional)</label>
      <i class="uil uil-check-times"></i>
      <input type="text" placeholder="https://www.linkedin.com/exemplo" id="linkedin">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-facebook">
      <label>Facebook URL (Optional)</label>
      <i class="uil uil-check-times"></i>
      <input type="text" placeholder="https://www.facebook.com/exemplo" id="facebook">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>


  </form>


</div>

</body>
</html>


