<app-navbar></app-navbar>

<div id="game" #rendererContainer> <!-- Add icon library -->

  <!-- CONNECTION INFO -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="connectionProfile" class="card" hidden>
    <h3 id="username1">De: {{user1}}</h3>
    <h3 id="username2">Para: {{user2}}</h3>
    <!--<p class="title" id="email">{{email}}</p> -->
    <p id="forcaLig1">Força Ligação: {{forcaLig1}}</p>
    <p id="forcaRel1">Força Relação: {{forcaRel1}}</p>
    <div *ngFor="let tag of conTags1">
      <div class="taglayout">
        <div class="tag">{{tag}}</div>
      </div>
    </div>
    <h3 id="username1">De: {{user2}}</h3>
    <h3 id="username2">Para: {{user1}}</h3>
    <!--<p class="title" id="email">{{email}}</p> -->
    <p id="forcaLig2">Força Ligação: {{forcaLig2}}</p>
    <p id="forcaRel2">Força Relação: {{forcaRel2}}</p>
    <div *ngFor="let tag of conTags1">
      <div class="taglayout">
        <div class="tag">{{tag}}</div>
      </div>
    </div>
    <p>
      <button id="closebtn2" class="close" (click)="closeConnectionInfoProfile()">Close</button>
    </p>
  </div>


  <!-- PROFILE -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="profile" class="card" hidden>
    <img src="{{ava}}" style="width:100%">
    <h1 id="username">{{username}}</h1>
    <p class="title" id="email">{{email}}</p>
    <p id="localidade">{{localidade}}</p>
    <a href="{{perfilLinkedin}}"><i class="fa fa-linkedin"></i></a>
    <a href="{{perfilFacebook}}"><i class="fa fa-facebook"></i></a>
    <h2>Tags:</h2>
    <div *ngFor="let tag of tags">
      <div class="taglayout">
        <div class="tag">{{tag}}</div>
      </div>
    </div>
    <p>
      <button id="closebtn" class="close" (click)="closeProfile()">Close</button>
    </p>
  </div>


  <div class = "options">
    <!-- CONTROLS -->
    <label class="switchinfo">
      <input (click)="changeControls()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Fly Controls</h3>
    </label>

    <!-- Extra Info -->
    <label class="switch">
      <input (click)="changeExtraInfo()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Extra Info</h3>
    </label>

    <!-- Ambient Light -->
    <label class="switchAmbientLight">
      <input (click)="switchAmbientLight()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Ambient Light</h3>
    </label>

    <!-- Front Light -->
    <label class="switchFrontLight">
      <input (click)="switchFrontLight()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Front Light</h3>
    </label>

    <!-- Back Light -->
    <label class="switchBackLight">
      <input (click)="switchBackLight()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Back Light</h3>
    </label>

    <!-- Spot Light -->
    <label class="switchSpotLight">
      <input (click)="switchSpotLight()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">Spotlight</h3>
    </label>

    <!-- Spot Light -->
    <label class="switchAll">
      <input (click)="lightBoot()" type="checkbox">
      <span class="slider round"></span>
      <h3 class = "textLBL">All Lights</h3>
    </label>

    <div class="alg">
      <label for="lang" class = "lab">Algorithm</label>
      <select class="select" id="lang">
        <option value="cmc">Caminho Mais Curto</option>
        <option value="cmf">Caminho Mais Forte</option>
        <option value="cms">Caminho Mais Seguro</option>
      </select>
      <button (click)="chooseAlgorithm()" class="chooseAlgorithm"  value="Submit">Update</button>

    </div>

  </div>




</div>


