
#game {
}
/*
=========================================================
                    USER PROFILE
=========================================================
*/
#info {
  position: absolute;
  right: 18px;
  width: 200px;
  height: 250px;
  border: 3px solid #6e73b2;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 15px;
  background: whitesmoke;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 2px mediumpurple;
  font-family: Calibri;
  white-space: pre-wrap;
  border-radius: 25px;
}

#minimap {
  position: absolute;
  right: 18px;
  margin-top: 40rem;
  width: 200px;
  height: 200px;
  border: 3px solid #6e73b2;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 2px mediumpurple;
  font-family: Calibri;
  white-space: pre-wrap;
}



/*
=========================================================
PROFILE TEMPLATE
=========================================================
*/


.card {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin-top: 4.1rem;
  background: white;
  right: 3rem;
}

.title {
  position: relative;
  color: grey;
  font-size: 18px;
}

.close {
  position: absolute;
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 0;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 22px;
  color: black;
}



/* TAGS */

.taglayout{
  background: lightgreen;
  border-radius: 2rem;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.tag{
  margin-left: auto;
  margin-right: auto;
}

/*

 */


body {
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.text-label {
  color: #fff;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin: -5px 0 0 15px;
  pointer-events:none;
}

#notes {
  color: #fff;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  position: absolute;
  bottom: 10px;
  left: 10px;
}


/*
=========================================================
                    CONTROLS
=========================================================
*/
.dropbtn {
  position: absolute;
  background-color: #04AA6D;
  margin-top: 4rem;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: purple;
  border-radius: 2px;
  border: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-weight: bold;
  text-shadow: purple;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*
=========================================================
                    EXTRA INFO
=========================================================
*/

.textLBL {
  color: darkgray;
  text-align: center;
  margin-top: 2rem;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 11rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #04AA6D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #04AA6D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.switchinfo {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 4rem;
}

.options {
  position: absolute;
  background: white;
}


/*  Ambient Light */

.switchAmbientLight{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 17rem;
}

/*  Front Light */

.switchFrontLight{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 24rem;
}

/*  Back Light */

.switchBackLight{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 31rem;
}


/*  Spot Light */

.switchSpotLight{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 38rem;
}

/*  All Lights */

.switchAll{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-top: 45rem;
}


/* MENU ALGORITMOS */

.alg {
  position: absolute;
  margin-top: 53rem;
  margin-left: 1rem;
}

.select {
  position: relative;
}

.chooseAlgorithm {
  position: absolute;
  padding: 6px;
  text-align: center;
  align-items: center;
}

.lab{
  font-weight: bold;
  color: darkgray;
  font-size: 20px;
}



