/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}




