.sidebar{
  margin-top: 1rem;
  background: mediumpurple;
  border-radius: 2rem;
}

.sidebar .menu-item{
  color: inherit;
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 100ms ease;
  position: relative;

}

.sidebar .menu-item:hover{
 background: hsl(252, 30%, 17%);
}

.sidebar i{
  font-size: 1.4rem;
  position: relative;
  margin-left: 1.5rem;

}

.sidebar i .notification-count{
  background: red;
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.sidebar h3{
  margin-left: 1.5rem;
  font-size: 1rem;

}

.sidebar .active {
  background: hsl(252, 30%, 17%);
}

.sidebar .active i,
.sidebar .active h3{
  color: mediumpurple;
}

.sidebar .active::before{
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: mediumpurple;
}

.sidebar .menu-item:first-child.active{
  border-top-left-radius: 1.5rem;
  overflow: hidden;
}

.sidebar .menu-item:last-child.active{
  border-bottom-left-radius: 1.5rem;
  overflow: hidden;
}

/* --------------NOTIFICATION POPUP --------------------- */


.logout_btn {
  margin-top: 1rem;
  text-align: center;
}

.logout_btn2 {
  margin-top: 10rem;
  text-align: center;
}
