<div class="sidebar">
  <a  routerLink="/website/feed" class="menu-item active"><span><i class="uil uil-home"></i> </span>
    <h3>Home</h3></a>
  <a  routerLink="/website/suggestions" class="menu-item" id="friends">
    <span><i class="uil uil-users-alt"></i></span>
    <h3>Suggestions</h3>
  </a>
  <a  class="menu-item" id="notifications">
    <span><i class="uil uil-bell"><small class="notification-count">9+</small></i> </span>
    <h3>Notifications</h3>
  </a>
  <a routerLink="/website/leaderboard" class="menu-item"><span><i class="uil uil-chart-line"></i> </span>
    <h3>Leaderboard</h3></a>
  <a  routerLink="/website/friends" class="menu-item" id="friends2">
    <span><i class="uil uil-users-alt"></i></span>
    <h3>Friends</h3>
  </a>
  <a  routerLink="/website/algoritmos" class="menu-item" id="algoritmos">
    <span><i class="uil uil-graph-bar"></i></span>
    <h3>Algoritmos</h3>
  </a>
</div>
<div class = "logout_btn">
  <input (click)="logout()" type="button" value="Logout" class="btn btn-deny">
</div>
<div class = "logout_btn2">
  <input (click)="deleteAccount()" type="button" value="Apagar conta" class="btn btn-deny">
</div>


<!-- NOTIFICATION POPUP-->
<!--<div class="notifications-popup">
  <div class="profile-picture">
    <img src="./assets/website/profile.jpg">
  </div>
  <div class="notification-body">
    <b>SlowBro</b> accepted your friend request
    <small class="text-muted">2 DAYS AGO</small>
  </div>
</div>-->
<!-- END NOTIFICATION POPUP-->

