
*{
  box-sizing: border-box;
}


body{
  font-family: 'Noto Sans', sans-serif;
  background: hsl(252, 30%, 17%);
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: scroll
}

h1{
  color: white;
}

p{
  color: white;
}
