<div class="container">
  <h4>Pedido de Ligação</h4>
  <div class="pedidos-ligacao">
    <div *ngIf="hasPedidos()" class="container-Tag" id="container-tag">
      <label class="taglabel">Tags</label>
      <div class="tag-container" id="tag-container">
        <!--TAG-->
        <input/>
      </div>
      <small>Error message</small>
    </div>
    <input *ngIf="hasPedidos()" id="forcaligacao" class = "forcaLigacao" placeholder=" Força de Ligação" type="text">
    <div *ngFor="let pedido of pedidos" class="pedido-ligacao">

      <div class="info">
        <div class="profile-picture">
          <img src="../../../../assets/website/profile.jpg">
        </div>
        <div>
          <h5>{{pedido.nomeUtilizadorOrigem}}</h5>
          <p>
            Tags: {{pedido.tagsUtilizadorOrigem}}
          </p>
          <p>
            Mensagem: {{pedido.mensagem}}
          </p>
        </div>

      </div>
      <div class="action">
        <button (click)="acceptRequest(pedido)" class="btn btn-primary">
          Accept
        </button>
        <button (click)="denyRequest(pedido)" class="btn btn-deny">
          Deny
        </button>
      </div>
    </div>


  </div>
</div>

