.pedidos-ligacao{
  margin-top: 1rem;
}

.pedidos-ligacao h4{
  color: #1b1b1b;
  margin: 1rem 0;
}

.pedido-ligacao{
  background: mediumpurple;
  padding: 0.4rem;
  border-radius: 2rem;
  margin-bottom: 0.7rem;
  width: 20rem;
}

.pedido-ligacao .info{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


.pedido-ligacao .action{
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.btn-primary {
  background: hsl(252, 30%, 50%);
  color: white;
}

.btn-deny {
  background: hsl(0,100%,60%);
  color: white;
}

.pedido-ligacao p{
  margin-top: 0.2rem;
}

.container-Tag{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container-Tag small{
  visibility: hidden;
  position: absolute;
  margin-top: 5px;
}

.tag-container.success{
  border-color: cornflowerblue;
}

.tag-container.error{
  border: 2px solid red;
}

.container-Tag.error small{
  visibility: visible;
  color: darkred;
}


.tag-container{
  display: block;
  background-color: mediumpurple;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  overflow: hidden;
}

.tag-container .tag{
  display: inline-block;
  padding: 5px;
  border: 1px solid gray;
  margin: 5px;
  align-items: center;
  background-color: mediumpurple;
  cursor: default;

}

.tag-container input{
  width:90%;
  flex: 1;
  padding: 5px;
  outline: none;
  border: 0;
  font-size: 14px;
  background-color: mediumpurple;
}

.forcaLigacao {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius:10px;
  text-align: center;
}





