<div class="container">
  <div class="friends">
    <div *ngFor="let friend of friends" class="friend">
      <div class="info">
        <div class="profile-picture">
          <img src="../../../assets/website/profile2.jfif">
        </div>
        <div class="text">
          <h5 class="nomeheader">Nome: {{friend.nome}}</h5>
          <p id="email_user" class = "texto">
            Email: {{friend.email}}
          </p>
          <p class = "texto">
            Tags: {{friend.tags}}
          </p>
        </div>
        <div class="action">
          <button (click)="goToEdit(friend)" class="btn">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

