<div class="algoritmos">
  <h1 class="h">Algoritmos</h1>
  <div class="cmf cmfUni"><h3>Calcular Caminho Mais Forte (Unidirecional)</h3>
    <input id="targetCmfUni" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesCmfUni" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteUni()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfUni"></p>
  </div>
  <div class="cmf cmfBi"><h3>Calcular Caminho Mais Forte (Bidirecional)</h3>
    <input id="targetCmfBi" class="inp" type="text" placeholder="Type the target's email">
    <button (click)="calcularCaminhoMaisForteBi()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfBi"></p>
  </div>
  <div class="cmf cmsUni"><h3>Calcular Caminho Mais Seguro (Unidirecional)</h3>
    <input id="targetCmsUni" class="inp" type="text" placeholder="Type the target's email">
    <input id="limitCmsUni" class="inp" type="text" placeholder="Type the force limit">
    <button (click)="calcularCaminhoMaisSeguroUni()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmsUni"></p>
  </div>
  <div class="cmf cmsBi"><h3>Calcular Caminho Mais Seguro (Bidirecional)</h3>
    <input id="targetCmsBi" class="inp" type="text" placeholder="Type the target's email">
    <input id="limitCmsBi" class="inp" type="text" placeholder="Type the force limit">
    <button (click)="calcularCaminhoMaisSeguroBi()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmsBi"></p>
  </div>
  <div class="cmf cmc"><h3>Calcular Caminho Mais Curto</h3>
    <input id="targetCmc" class="inp" type="text" placeholder="Type the target's email">
    <button (click)="calcularCaminhoMaisCurto()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmc"></p>
  </div>

  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte com Forças Relação</h3>
    <input id="targetCmfUniRel" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesCmfUniRel" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteUniRel()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfUniRel"></p>
  </div>

  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte A*</h3>
    <input id="targetCmfAstar" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesAstar" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteAstar()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfAstar"></p>
  </div>
  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte A* com Forças Relação</h3>
    <input id="targetCmfAstarRel" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesAstarRel" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteAstarRel()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfAstarRel"></p>
  </div>

  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte BFS</h3>
    <input id="targetCmfBfs" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesBfs" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteBFS()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfBfs"></p>
  </div>
  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte BFS com Forças Relação</h3>
    <input id="targetCmfBfsRel" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesBfsRel" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteBFSRel()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfBfsRel"></p>
  </div>
  <div class="cmf cmc"><h3>Sugerir maior grupo</h3>
    <input id="tags" class="inp" type="text" placeholder="Insert the tags">
    <input id="number" class="inp" type="text" placeholder="Insert minimum number of tags">
    <input id="users" class="inp" type="text" placeholder="Insert minimum number of users">
    <button (click)="sugerirMaiorGrupo()" class="btn_search">Search</button>
    <p class="result" id="resultadoGrupo"></p>
  </div>
  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte BFS com emoções</h3>
    <input id="targetCmfBfsEmotions" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesBfsEmotions" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteBFSEmocoes()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfBfsEmotions"></p>
  </div>
  <div class="cmf cmc"><h3>Calcular Caminho Mais Forte A* com emoções</h3>
    <input id="targetCmfAstarEmotions" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesAstarEmotions" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteAstarEmocoes()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfAstarEmotions"></p>
  </div>
  <div class="cmf cmfUni"><h3>Calcular Caminho Mais Forte (Unidirecional) com emoções</h3>
    <input id="targetCmfUniEmotion" class="inp" type="text" placeholder="Type the target's email">
    <input id="ligacoesCmfUniEmotion" class="inp" type="text" placeholder="Type the maximum number of connections">
    <button (click)="calcularCaminhoMaisForteUniEmocoes()" class="btn_search">Search</button>
    <p class="result" id="resultadoCmfUniEmotion"></p>
  </div>
</div>
