.algoritmos {
  margin-top: 1rem;
  background: mediumpurple;
  border-radius: 2rem;
  overflow-y: hidden;
  margin-bottom: 15rem;
}


.h {
  text-align: center;
  margin-top: 3rem;
  text-decoration: underline;
  letter-spacing: 4px;
  text-shadow: 5px 5px black;
  color: gray;
}

.cmf{
  text-align: center;
  margin-top: 2rem;
  color: black;
}

.inp {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
}

.result {

}

.result success {
  visibility: visible;
}
