
*{
  box-sizing: border-box;
}


body{
  font-family: 'Noto Sans', sans-serif;
  background: hsl(252, 30%, 17%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.profile-picture {
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 1rem auto;

}

img {
  display: block;
  width: 100%;
}

.container{
  margin: auto;
  background-color: hsl(252, 30%, 50%);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header{
  background-color: hsl(252, 30%, 55%);
  border-bottom: 1px solid hsl(252, 30%, 80%);
  padding: 20px 40px;
}

.form{
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input{
  border: 2px solid hsl(252, 30%, 80%);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input{
  border-color: cornflowerblue;
}

.form-control.error input{
  border-color: red;
}

.form-control i{
  visibility: hidden;
  position: absolute;
  top: 37px;
  right: 10px;

}

.form-control.success i.uil-check-circle{
  visibility: visible;
  color: cornflowerblue;

}

.form-control.error i.uil-exclamation-circle{
  visibility: visible;
  color: red;

}

.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small{
  visibility: visible;
  color: darkred;
}

.header h2{
  margin: 0;
}

.btn {
  border: none;
  width: 100%;
  display: block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: hsl(252, 30%, 30%);
  color: white;
}

.example-chip-list {
  width: 100%;
}

.register {
  margin-top: 1rem;
  color: cornflowerblue;
  display: block;
  text-align: center;
}
