<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphs4Social - Website</title>
  <! -- ICONS -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
  <script type="text/javascript" src="register.js"></script>
  <! -- STYLESHEET -->
</head>
<body>

<div class="container">
  <div class="header">
    <h2>Login</h2>
  </div>
  <form class="form" id="form">
    <div class="form-control" id="form-email">
      <label>Email</label>
      <input type="text" placeholder="ex@gmail.com" id="email">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control" id="form-password">
      <label>Password</label>
      <input type="password" placeholder="3DhJi381!" id="password">
      <i class="uil uil-check-circle"></i>
      <i class="uil uil-exclamation-circle"></i>
      <small>Error message</small>
    </div>
    <input (click)="login()" type="button" value="Login" class="btn btn-primary" id="butao">
    <a class = "register" routerLink="/register"> Don't have an account? Register now! </a>
  </form>
</div>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/sha256.js"></script>


