/* ------- NAVIGATION BAR ------- */

nav {
  width: 100%;
  background: mediumpurple;
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .log{
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

nav .search-bar{
  background: hsl(252, 30%, 50%);
  border-radius: 2rem;
  padding: 0.6rem 1rem;
}

nav .search-bar input[type="search"]{
  font-weight: bold;
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: hsl(252, 30%, 17%);
}

nav .search-bar input[type="search"]::placeholder{
  color: white;
}

nav .profile{
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .btn_search{
  background: hsl(252, 30%, 50%);
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
}

input[list] {
  background: purple;
}

nav .container .users{
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}
