<nav>
  <div class="container">
    <button onclick="location.href='http://localhost:4200/website/'" id=logo class="log">
      Graphs4Social
    </button>
    <div class="search-bar">
      <i class="uil uil-search"></i>
      <input id="usr_input" type="search" list="search_users" placeholder="Search for Users">
      <datalist id="search_users"></datalist>
      <button (click)="searchUser()" class="btn_search">Search</button>
    </div>
    <small id="nUsers" class="users">Number of users: </small >
    <small id="nUsersNetwork" class="users">Size of your Network: </small >
    <div class="profile">
      <button routerLink="/jogo" class="btn btn-primary">Game</button>
      <div class="profile-picture">
        <img src="./assets/website/profile.jpg" alt="profile">
      </div>
    </div>
  </div>
</nav>
