.profile{
  padding: 1rem;
  background: mediumpurple;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  cursor: pointer;
  color: inherit;
}

.profile:hover {
  opacity: 0.8;
}
