<a (click)="goToProfile()" class="profile">
  <div class="profile-picture">
    <img src="../../../../assets/website/profile.jpg" alt="profile">
  </div>
  <div class="handle">
    <h4 id="nome"></h4>
    <p id="email"></p>
  </div>
</a>
