<div class="leaderboards">

  <h1>Leaderboard Network Dimension</h1>
  <div class="container">
    <div class="friends">
      <div *ngFor="let friend of friends" class="friend">
        <div class="info">
          <div class="profile-picture">
            <img src="../../../assets/website/profile2.jfif">
          </div>
          <div class="text">
            <h5 class="nomeheader">Nome: {{friend.nome}}</h5>
            <p id="email_user" class="texto">
              Email: {{friend.email}}
            </p>
            <p class="texto">
              Tags: {{friend.tags}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Leaderboard Network Strength</h1>
  <div class="container">
    <div class="friends">
      <div *ngFor="let friend of friends2" class="friend">
        <div class="info">
          <div class="profile-picture">
            <img src="../../../assets/website/profile2.jfif">
          </div>
          <div class="text">
            <h5 class="nomeheader">Nome: {{friend.nome}}</h5>
            <p id="email_user1" class="texto">
              Email: {{friend.email}}
            </p>
            <p class="texto">
              Tags: {{friend.tags}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 style="color: #04AA6D">Tags de todos os utilizadores</h1>
  <div id="tags" class="tag">
  </div>

  <h1 style="color: #04AA6D">Tags de todas as relações</h1>
  <div id="tagsRelacoes" class="tag">
  </div>

  <h1 style="color: #04AA6D">Tags do utilizador</h1>
  <div id="tagsUser" class="tag">
  </div>

  <h1 style="color: #04AA6D">Tags de relações do utilizador</h1>
  <div id="tagsRelacoesUtilizador" class="tag">
  </div>

</div>
