<div class="profile">
  <div class="avatar">
    <img src="../../../assets/website/profile.jpg">
  </div>
  <div class="nome">
    <p id="username"></p>
  </div>
  <div class="container">
    <form class="form" id="form">


      <div class="form-control" >
        <div class="formTitle"><p>Força Ligação</p></div>
        <input name="forcaLigacao" type="number" placeholder="6" id="forca">
        <i class="uil uil-check-circle"></i>
        <i class="uil uil-exclamation-circle"></i>
        <small>Error message</small>
      </div>

    </form>

  </div>
  <div class="container-Tag" id="container-tag">
    <div class="formTitle"><p>Tags</p></div>
    <div class="tag-container" id="tag-container">
      <!--TAG-->
      <input/>
    </div>
    <small>Error message</small>
  </div>
  <input (click)="editaRelacionamento()" type="button" value="Submit" class="btn btn-primary">


</div>
